html,
body {
    height: 100%;
    width: 100%;
    background: #1a006b;
    box-sizing: border-box;
    overflow: auto;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

h3 {
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900; 
    text-transform: uppercase;
}
h4 {
    color: #ccc;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900; 
    text-transform: uppercase;
    text-align: center;
    font-size: 5pt;
}

.table-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);    
    justify-content: center;
    gap: 1px;
}

.column {
    width: 50%; /* Each column takes up half the width */
    padding: 2%; /* For spacing */    
    text-align: center;
}

.box {
    border: 0px solid #ccc;
    background: linear-gradient(to top right, #1a006b, #912396, #c0267e, #f41a18, #fc7e4e, #ff981b); /* Gradient colors */
    padding: 2px;
    margin: 3px;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box; 
    flex: 12;
}

.info-container {
    display: flex; 
    align-items: center;     
    justify-content: space-between;
    padding: 2px 16px; 
    flex: 1;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;    
}

button {
    background: #66c;
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900; 
    margin: 0 1%;
}

@media (max-width: 1080px) {
    .table-container {
        grid-template-columns: 1fr;
    }

    .button-container {
        flex-wrap: wrap; /* Allow wrapping */
        justify-content: flex-start; /* Align buttons to the start */
    }
    
    .button-container button {
        flex: 1 1 calc(50% - 5px); /* Two buttons per row with spacing */
        margin: 2px; /* Adjust margin for spacing between buttons */
    }
}